body{
    background-color: rgb(201, 228, 240);
}
.qr-code-container{
    width: 350px;
    height: 488px;
    background-color: white;
    margin: auto;
    border-radius: 13px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.qr-image > img{
    width: 85%;
    height: 300px;
    border-radius: 8px;
    margin-left: 27px;
    margin-top: 25px;
}
.qr-desc{
    width: 84%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.qr-desc > p{
    color: gray;
    width: 84%;
    margin: auto;
    line-height: 19px;
}

